#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100vh;
    z-index: -1;
}

.events{
    font-family: "Muli";
    background-color: rgba(10, 10, 10, 0.822);
    padding-bottom: 30px;
    margin-bottom: -30px;
}

.events p{
    width: 60%;
    letter-spacing: 2px;
    line-height: 27px;
    margin: auto;
    padding-top: 2.1em;
    padding-bottom: 2.1em;
    color: white;
}

.banner{
    text-align: center;
}


#logo-img{
    height: 300px;
    margin-top: 60px;
}

.events h1{
    padding: 20px;
    font-family: "Muli";
    margin: auto;
    width: 400px;
    text-align: center;
    font-size: 2.8em;
    color: rgb(255, 255, 255);
    font-weight: lighter;
    letter-spacing: 3px;
    border-bottom: 4px solid rgb(43, 155, 89); 
}

.card{
    font-family: "Muli";
    text-align: center;
    width: 280px;
    height: 350px;
    margin-top: 100px;
    border-radius: 5px;
    background-color: black;
    box-shadow: 0 27px 17px -17px rgba(56, 56, 56, 0.308);
    margin-top: 50px;
    transition: all .4s ease;
    color: rgb(216, 208, 208);
    position: relative;
    cursor: pointer;
}

.cards{
    width: 70%;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-bottom: 50px;
}

.card h3{
    font-size: 1.8em;
    letter-spacing: 3px;
    margin-top: 17px;
}

.card p{
    margin-top: 15px;
    padding: 0;
    width: 80%;
    padding-bottom: 50px;
}

.card:hover{
    transform: scale(1.05);
    box-shadow: 0 5px 7px rgb(0, 0, 0);
    font-weight: bolder;
}

.card:hover p{
    color: rgb(17, 17, 17);
}

.card:hover h3{
    color: rgb(17, 17, 17);
}

@keyframes zoomThat{
    from {
        transform: rotate(1);
        opacity: 1;
    }
    to{
        transform: scale(2.2);
        opacity: 0;
    }
}

#logo-img{
    animation: zoomThat 4s infinite linear;
}

.card img{
    width: 140px;
    position: absolute;
    left: -40px;
    bottom: -30px;
}

.card:nth-child(2) img{
    width: 180px;
    left: -70px;
    bottom: -30px;
}

.card:nth-child(3) img {
    width: 175px;
    left: -70px;
    bottom: -40px;
}

.card:nth-child(4) img {
    width: 175px;
    left: -70px;
    bottom: -40px;
}

.card:nth-child(6) img {
    width: 175px;
    left: -70px;
    bottom: -40px;
}

/* Card Color */

.card:nth-child(1):hover{
    background-image: linear-gradient(to bottom right, #052F97, #D5090D);
}

.card:nth-child(2):hover {
    background-image: linear-gradient(to bottom right, rgb(221, 162, 74), #FA260A);
}

.card:nth-child(3):hover {
    background-image: linear-gradient(to bottom right, #00204d, #7AC1F3);
}
.card:nth-child(4):hover{
    background-image: linear-gradient(to bottom right, #C92C0D, #861D06);
}

.card:nth-child(5):hover{
    background-image: linear-gradient(to bottom right, #1F774A, #3A46FF);
}

.card:nth-child(6):hover{
    background-image: linear-gradient(to bottom right, #71433C, #7C1807);
}

.card:hover p{
    color: white;
}
.card:hover h3{
    color: white;
}

#nav-logo{
    width: 140px;
}