*{
    box-sizing: border-box;
}

body{
    overflow-y: hidden;
    text-align: center;
    margin: 0px;
}

.div1{
    background-color: rgb(200,0,0);
    min-height: 100vh;
    min-width: 100%;
    font-size: 50px;
    display: none;
}
h1{
    margin:0px;
}
