@font-face {
    font-family: "Mario";
    src: url("../resources/fonts/mario.ttf");
}

@font-face {
    font-family: "Contra";
    src: url("../resources/fonts/contra.ttf");
}

@font-face {
    font-family: "Pacman";
    src: url("../resources/fonts/pacman.ttf");
}

@font-face {
    font-family: "Roadrash";
    src: url("../resources/fonts/roadrash.otf");
}

@font-face {
    font-family: "Sonic";
    src: url("../resources/fonts/sonic.TTF");
}

@font-face {
    font-family: "Tekken";
    src: url("../resources/fonts/tekken.ttf");
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100vh;
    z-index: -1;
}

.events{
    font-family: "Muli";
    background-color: rgba(10, 10, 10, 0.822);
    padding-bottom: 30px;
    margin-bottom: -30px;
}

.events p{
    width: 60%;
    letter-spacing: 2px;
    line-height: 27px;
    margin: auto;
    padding-top: 2.1em;
    padding-bottom: 2.1em;
    color: white;
}

.banner{
    text-align: center;
    min-height: 400px;
}


#logo-img{
    height: 100px;
    margin-top: 40px;
    margin-top: 200px;
    pointer-events: none;
}

.logo a:active, .logo a:visited, .logo a:hover, .logo a:link,
.nav-links a:active, .nav-links a:visited, .nav-links a:hover, .nav-links a:link{
    outline: none;
}

.events h1{
    padding: 20px;
    font-family: "Muli";
    margin: auto;
    width: 600px;
    text-align: center;
    font-size: 2.8em;
    color: rgb(255, 255, 255);
    font-weight: lighter;
    letter-spacing: 3px;
    border-bottom: 4px solid rgb(43, 155, 89); 
}

.card{
    font-family: "Muli";
    text-align: center;
    width: 280px;
    height: 350px;
    margin-top: 100px;
    border-radius: 5px;
    background-color: black;
    box-shadow: 0 27px 17px -17px rgba(56, 56, 56, 0.308);
    margin-top: 50px;
    transition: all .4s ease;
    color: rgb(216, 208, 208);
    position: relative;
    cursor: pointer;
}

.cards{
    width: 70%;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-bottom: 50px;
}

.card h3{
    font-size: 1.8em;
    letter-spacing: 3px;
    margin-top: 17px;
}

.card p{
    margin-top: 15px;
    padding: 0;
    width: 80%;
    padding-bottom: 50px;
}

.card:hover{
    transform: scale(1.05);
    box-shadow: 0 5px 7px rgb(0, 0, 0);
    font-weight: bolder;
}

.card:hover p{
    color: rgb(17, 17, 17);
}

.card:hover h3{
    color: rgb(17, 17, 17);
}

@keyframes zoomThat{
    from {
        transform: rotate(1);
        opacity: 1;
        z-index: -1;
    }
    to{
        transform: scale(1.4);
        opacity: 0;
        z-index: -1;
    }
}

#logo-img{
    animation: zoomThat 4s infinite linear;
}

.card img{
    width: 140px;
    position: absolute;
    left: -40px;
    bottom: -30px;
}

.card:nth-child(1) .event-name{
    font-family: "Mario";
}
.card:nth-child(2) .event-name{
    font-family: "Contra";
}
.card:nth-child(3) .event-name{
    font-family: "Pacman";
}
.card:nth-child(4) .event-name{
    font-family: "Roadrash";
    font-style: italic;
}
.card:nth-child(5) .event-name{
    font-family: "Sonic";
}
.card:nth-child(6) .event-name{
    font-family: "Tekken";
    font-size: 1.4em;
}

.card:nth-child(2) img{
    width: 180px;
    left: -70px;
    bottom: -30px;
}

.card:nth-child(3) img {
    width: 175px;
    left: -70px;
    bottom: -40px;
}

.card:nth-child(4) img {
    width: 175px;
    left: -70px;
    bottom: -40px;
}

.card:nth-child(6) img {
    width: 175px;
    left: -70px;
    bottom: -40px;
}

/* Card Color */

.card:nth-child(1):hover{
    background-image: linear-gradient(to bottom right, #052F97, #D5090D);
}

.card:nth-child(2):hover {
    background-image: linear-gradient(to bottom right, rgb(221, 162, 74), #FA260A);
}

.card:nth-child(3):hover {
    background-image: linear-gradient(to bottom right, #00204d, #7AC1F3);
}
.card:nth-child(4):hover{
    background-image: linear-gradient(to bottom right, #C92C0D, #861D06);
}

.card:nth-child(5):hover{
    background-image: linear-gradient(to bottom right, #1F774A, #3A46FF);
}

.card:nth-child(6):hover{
    background-image: linear-gradient(to bottom right, #71433C, #7C1807);
}

.card:hover p{
    color: white;
}
.card:hover h3{
    color: white;
}

.battle{
    font-size: 0.7em;
}

.event-details{
    /* border: 1px solid white; */
    width: 100%;
    font-size: .7em;
}

@media only screen and (max-width: 480px){
    #logo-img {
        height: 70px;
        margin-top: 40px;
        margin-top: 200px;
        pointer-events: none;
    }

    .events{
        margin: auto;
    }

    .banner {
        text-align: center;
        min-height: 300px;
    }

    .events h1{
        font-size: 1.2em;
        text-align: center;
        width: 200px;
    }
    
}