* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

@media only screen and (max-width: 1000px) {
    nav{
        z-index: 1;
    }
    
    burger{
        position: fixed;
    }
    
    nav .nav-links {
        position: fixed;
        top: 10vh;
        width: 50%;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 92vh;
        /* background-color: #042a38; */
        background-color: transparent;
        transform: translateX(100%);
        transition: all .7s ease;
        background-color: rgb(255, 255, 255);
    }

    .navigation a{
        color: rgb(17, 17, 17);
    }

    .footer-wrapper{
        flex-direction: column;
        height: 180px;
    }
}

@media only screen and (min-width: 1001px) and (max-width: 1920px) {
    .burger {
        display: none;
    }

    nav{
        z-index: 2;
    }

    nav a {
        padding-left: 50px;
        padding-right: 50px;
    }

    nav .nav-links {
        display: flex;
        justify-content: flex-end;
    }
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0);
    align-items: center;
    min-height: 10vh;
    width: 100%;
    z-index: 2;
}

nav .burger {
    /* border: 1px solid white; */
    height: 50px;
    width: 50px;
    padding: 25px;
    border-radius: 30px;
    cursor: pointer;
    transition: all .7s ease;
}

nav .logo {
    font-family: "Muli";
    font-size: 1.3em;
    letter-spacing: 5px;
    color: white;
}

nav ul {
    list-style: none;
}

nav ul a {
    text-decoration: none;
    font-family: "Muli";
    color: white;
    letter-spacing: 4px;
}


.line {
    width: 27px;
    height: 3px;
    /* background-color: rgb(175, 165, 165); */
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    transform: translateX(-50%);
}

.line:before,
.line:after {
    content: '';
    width: 27px;
    height: 3px;
    position: absolute;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    transition: all .4s ease;
}

.line:before {
    margin-top: -8px;
}

.line:after {
    margin-top: 8px;
}

nav .slide {
    transform: translateX(0%);
}

.active {
    background-color: rgba(248, 247, 239, 0.2);
}

.active .line:before {
    transform: rotate(45deg);
    background-color: #EE316B;
    margin-top: 0;
}

.active .line:after {
    transform: rotate(135deg);
    background-color: #EE316B;
    margin-top: 0;
}

.vanish {
    background-color: rgba(0, 0, 0, 0);
}

footer {
    font-family: "Muli";
    font-size: 0.99em;
    margin-top: 30px;
    background-color: rgb(14, 14, 14);
}

.footer-wrapper{
    display: flex;
    width: 100%;
    /* border: 1px solid white; */
    justify-content: space-around;
    align-items: center;
}

footer a {
    font-family: "Muli";
    font-weight: 100;
    text-decoration: none;
    letter-spacing: 2px;
    color: rgb(211, 206, 206);
    margin: 15px;
}

footer ul {
    list-style: none;
}

footer img {
    height: 40px;
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
}

.footer-links {
    /* border: 1px solid white; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .cpy {
    color: rgb(211, 206, 206);
    /* color: white; */
    margin: auto;
    width: 500px;
    margin-top: 50px;
    padding-bottom: 50px;
}

#nav-logo {
    width: 140px;
    margin-top: -10px;
}