*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-y: hidden;
    text-align: center;
    margin: 0px;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100vh;
    z-index: -1;
}

.nav {
    overflow: hidden;
    padding: 14px;
    position: fixed;
    right: 0px;
    left: 0px;
}

.nav-a {
    color: rgba(255, 248, 220, 0.952);
    float: left;
    text-decoration: none;
    font: 28px "Raleway";
    margin: 0px 10px;
    padding: 7px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

.active-nav{
    color: #333333;
    background-color: #FFF8DC;
    border-radius: 4px;
}

.back-link{
    position: absolute;
    right: 10px;
}

.section{
    background-color: rgba(134, 131, 131, 0.171);
    min-height: 100vh;
    min-width: 100%;
    font-size: 30px;
    display: none;
}

.section h1{
    padding-top: 100px;
    text-align: center;
}

/* border-animation */

.nav-a:before,
.nav-a:after {
    position: absolute;
    opacity: 0;
    width: 0%;
    height: 2px;
    content: '';
    background: #FFF8DC;
    transition: all 0.4s ease-in-out;
}

.nav-a:before {
    left: 0px;
    top: 0px;
}

.nav-a:after {
    right: 0px;
    bottom: 0px;
}

.nav-a:hover:before,
.nav-a:hover:after {
    opacity: 1;
    width: 100%;
}

.nav-a:active, .nav-a:focus {
  outline: 0;   
  border: none;
  color: rgba(255, 248, 220, 0.507);
}

.active-nav:before,
.active-nav:after {
    background: none;
}