@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-y: hidden;
    text-align: center;
	margin: 0px;
}

#myVideo {
	position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100vh;
    z-index: -1;
}

.nav {
	overflow: hidden;
    padding: 14px;
    position: fixed;
    right: 0px;
    left: 0px;
    z-index: 2;
}

.nav-a {
	color: rgba(255, 248, 220, 0.952);
    float: left;
    text-decoration: none;
    /* font: 28px "Raleway"; */
    margin: 0px 10px;
    padding: 7px 10px;
    position: relative;
    cursor: pointer;
	font-family: "Poppins";
	font-size: 1em;
	font-weight: 100;
}

.active-nav{
    color: #333333;
    background-color: #FFF8DC;
    border-radius: 4px;
}

.back-link{
    position: absolute;
    right: 10px;
}

.section{
    background-color: rgba(10, 10, 10, 0.822);
    min-height: 100vh;
    min-width: 100%;
    font-size: 30px;
    display: none;
}

.section h1{
    padding-top: 100px;
    text-align: center;
}

/* grid-1 style */
.grid-1 {
	max-width: 1500px;
    margin: auto;
	list-style: none;
    text-align: center;
}

.grid-1 li {
	display: inline-block;
	width: 260px;
    margin: 0px;
    margin-top: 130px;
    padding: 30px;
    padding-bottom: 0;
	text-align: left;
	position: relative;
}

.grid-1 figure {
	margin: 0;
	position: relative;
}

.grid-1 figure img {
    max-width: 100%;
	display: block;
	position: relative;
}

.grid-1 figcaption {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	background: #2c3f52;
	color: #ed4e6e;
}

.grid-1 figcaption h3 {
	margin: 0;
	padding: 0;
    color: #fff;
}

.section .grid-1:nth-child(2) li{
    margin-top: 90px;
}

/* caption-1 Style */
.caption-1 figure img {
	z-index: 1;
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
    transition: transform 0.4s ease-out;
    transition-delay: 0.12s;
}

.no-touch .caption-1 figure:hover img,
.caption-1 figure.cs-hover img {
	-webkit-transform: translateY(-90px);
	-moz-transform: translateY(-90px);
	-ms-transform: translateY(-90px);
	transform: translateY(-90px);
}

.caption-1 figcaption {
	height: 100px;
	width: 100%;
	top: auto;
    bottom: 0;
}

.caption-1 figcaption h3{
    font-size: 0.7em;
    font-weight: 100;
}

.caption-1 figcaption span{
	font-size: 0.5em;
}

/* grid-2 style */
.grid-2 {
	max-width: 4000px;
    margin: auto;
	list-style: none;
    text-align: center;
}

.grid-2 li {
	display: inline-block;
	width: 210px;
    margin: 0px;
    margin-top: 160px;
    padding: 5px;
    padding-bottom: 0;
	text-align: left;
	position: relative;
}

.grid-2 figure {
	margin: 0;
	position: relative;
}

.grid-2 figure img {
    max-width: 100%;
	display: block;
	position: relative;
}

.grid-2 figcaption {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	background: #2c3f52;
	color: #ed4e6e;
}

.grid-2 figcaption h3 {
	margin: 0;
	padding: 0;
    color: #fff;
}

.section .grid-2:nth-child(2) li {
	margin-top: 90px;
}

/* caption-2 Style */
.caption-2 figure img {
	z-index: 1;
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
    transition: transform 0.4s ease-out;
    transition-delay: 0.12s;
}

.no-touch .caption-2 figure:hover img,
.caption-2 figure.cs-hover img {
	-webkit-transform: translateY(-90px);
	-moz-transform: translateY(-90px);
	-ms-transform: translateY(-90px);
	transform: translateY(-90px);
}

.caption-2 figcaption {
	height: 100px;
	width: 100%;
	top: auto;
    bottom: 0;
}

.caption-2 figcaption h3{
    font-size: 0.8em;
    font-weight: 100;
}

.caption-2 figcaption span{
    font-size: 0.5em;
}

/* grid-3 style */
.grid-3 {
	max-width: 2000px;
    margin: auto;
	list-style: none;
    text-align: center;
}

.grid-3 li {
	display: inline-block;
	width: 525px;
    margin: 0px;
    margin-top: 140px;
    padding: 75px;
    padding-bottom: 0;
	text-align: left;
	position: relative;
}

.grid-3 figure {
	margin: 0;
	position: relative;
}

.grid-3 figure img {
    max-width: 100%;
	display: block;
	position: relative;
}

.grid-3 figcaption {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	background: #2c3f52;
	color: #ed4e6e;
}

.grid-3 figcaption h3 {
	margin: 0;
	padding: 0;
    color: #fff;
}

/* caption-3 Style */
.caption-3 figure img {
	z-index: 1;
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
    transition: transform 0.4s ease-out;
    transition-delay: 0.12s;
}

.no-touch .caption-3 figure:hover img,
.caption-3 figure.cs-hover img {
	-webkit-transform: translateY(-90px);
	-moz-transform: translateY(-90px);
	-ms-transform: translateY(-90px);
	transform: translateY(-90px);
}

.caption-3 figcaption {
	height: 100px;
	width: 100%;
	top: auto;
    bottom: 0;
}

.caption-3 figcaption h3{
    font-size: 1em;
    font-weight: 100;
}

.caption-3 figcaption span{
    font-size: 0.8em;
}

/* grid-4 style */
.grid-4 {
	max-width: 1500px;
    margin: auto;
	list-style: none;
    text-align: center;
}

.grid-4 li {
	display: inline-block;
	width: 300px;
    margin: 0px;
    margin-top: 110px;
    padding: 45px;
    padding-bottom: 0;
	text-align: left;
	position: relative;
}

.grid-4 figure {
	margin: 0;
	position: relative;
}

.grid-4 figure img {
    max-width: 100%;
	display: block;
	position: relative;
}

.grid-4 figcaption {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	background: #2c3f52;
	color: #ed4e6e;
}

.grid-4 figcaption h3 {
	margin: 0;
	padding: 0;
    color: #fff;
}

.section .grid-4:nth-child(2) li{
    margin-top: 50px;
}

/* caption-4 Style */
.caption-4 figure img {
	z-index: 1;
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
    transition: transform 0.4s ease-out;
    transition-delay: 0.12s;
}

.no-touch .caption-4 figure:hover img,
.caption-4 figure.cs-hover img {
	-webkit-transform: translateY(-90px);
	-moz-transform: translateY(-90px);
	-ms-transform: translateY(-90px);
	transform: translateY(-90px);
}

.caption-4 figcaption {
	height: 100px;
	width: 100%;
	top: auto;
    bottom: 0;
}

.caption-4 figcaption h3{
    font-size: 0.7em;
    font-weight: 100;
}

.caption-4 figcaption span{
    font-size: 0.6em;
}

/* grid-5 style */
.grid-5 {
	max-width: 2500px;
    margin: auto;
	list-style: none;
    text-align: center;
}

.grid-5 li {
	display: inline-block;
	width: 370px;
    margin: 0px;
    margin-top: 230px;
    padding: 50px;
    padding-bottom: 0;
	text-align: left;
	position: relative;
}

.grid-5 figure {
	margin: 0;
	position: relative;
}

.grid-5 figure img {
    max-width: 100%;
	display: block;
	position: relative;
}

.grid-5 figcaption {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	background: #2c3f52;
	color: #ed4e6e;
}

.grid-5 figcaption h3 {
	margin: 0;
	padding: 0;
    color: #fff;
}

.section .grid-5:nth-child(2) li{
    margin-top: 10px;
}

/* caption-5 Style */
.caption-5 figure img {
	z-index: 1;
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
    transition: transform 0.4s ease-out;
    transition-delay: 0.12s;
}

.no-touch .caption-5 figure:hover img,
.caption-5 figure.cs-hover img {
	-webkit-transform: translateY(-90px);
	-moz-transform: translateY(-90px);
	-ms-transform: translateY(-90px);
	transform: translateY(-90px);
}

.caption-5 figcaption {
	height: 100px;
	width: 100%;
	top: auto;
    bottom: 0;
}

.caption-5 figcaption h3{
    font-size: 0.9em;
    font-weight: 100;
}

.caption-5 figcaption span{
    font-size: 0.7em;
}

/* border-animation */

.nav-a:before,
.nav-a:after {
    position: absolute;
    opacity: 0;
    width: 0%;
    height: 2px;
    content: '';
    background: #FFF8DC;
    transition: all 0.4s ease-in-out;
}

.nav-a:before {
    left: 0px;
    top: 0px;
}

.nav-a:after {
    right: 0px;
    bottom: 0px;
}

.nav-a:hover:before,
.nav-a:hover:after {
    opacity: 1;
    width: 100%;
}

.nav-a:active, .nav-a:focus {
  outline: 0;   
  border: none;
  color: rgba(255, 248, 220, 0.507);
}

.active-nav:before,
.active-nav:after {
    background: none;
}

@media screen and (max-width: 31.5em) {
	.grid-1 {
		padding: 10px 10px 100px 10px;
	}
	.grid-1 li {
		width: 100%;
		min-width: 300px;
	}
}