@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
	margin: 0px;
}

#myVideo {
	position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100vh;
    z-index: -1;
}

.mobile-view {
    display: block;
}

.comm {
    /* border: 1px solid white; */
    margin-bottom: 100px;
}

img {
    border-radius: 4px;
}

.card {
    margin: 10px;
}

.core .card img {
    width: 190px;
    /* border-radius: 4px; */
}

.web-dev .card img {
    width: 190px;
}

.media .card img {
    width: 190px;
}

.editorial-board img {
    width: 190px;
}

.hospitality .card img {
    width: 190px;
}

.hospitality .card img {
    width: 190px;
}

.volunteer-body .card img {
    width: 190px;
}

.event-heads .card img {
    width: 190px;
}


.card {
    width: fit-content;
    margin-top: 17px;
}

.card h3 {
    font-family: 'Poppins';
    color: rgb(219, 219, 219);
    font-size: 1.2em;
    font-weight: lighter;
}

.title h2 {
    font-family: 'Poppins';
    color: white;
    padding-bottom: 17px;
    font-weight: 100;
    font-size: 2em;
}

.cards-wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 75%;
    margin: auto;
}

.glass{
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.582);
}


#techleons-logo{
    width: 100%;
    position: fixed;
    left: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.938);
}

#techleons-logo img{
    width: 230px;
    /* border: 1px solid white; */
    cursor: pointer;
    outline: none;
}

.comm:nth-child(1) h2{
    padding-top: 120px;
}

@media only screen and (max-width: 1000px){

    .glass{
        background-color: rgba(0, 0, 0, 0.432);
    }

    #techleons-logo img{
        width: 180px;
    }

    .comm:nth-child(1) h2 {
        padding-top: 80px;
    }

    .mobile-view{
        display: block;
    }

    .comm{
        /* border: 1px solid white; */
        margin-bottom:100px;
    }

    img{
        border-radius: 4px;
    }

    .card{
        margin: 10px;
    }

    .core .card img{
        width: 110px;
        /* border-radius: 4px; */
    }

    .web-dev .card img{
        width: 110px;
    }
    
    .media .card img{
        width: 110px;
    }

    .editorial-board img{
        width: 110px;
    }

    .hospitality .card img{
        width: 100px;
    }

    .hospitality .card img{
        width: 100px;
    }

    .volunteer-body .card img{
        width: 110px;
    }

    .event-heads .card img{
        width: 110px;
    }


    .card{
        width: fit-content;
        margin-top: 17px;
    }

    .card h3{
        font-family: 'Poppins';
        color: white;
        font-size: 0.7em;
        font-weight: 100;
    }

    .title h2{
        font-family: 'Poppins';
        color: white;
        padding-bottom: 17px;
    }

    .cards-wrapper{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 100%;
    }
}
