@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

body{
    background-color: rgb(7, 7, 7);
}

.logo a:active, .logo a:visited, .logo a:hover, .logo a:link,
.nav-links a:active, .nav-links a:visited, .nav-links a:hover, .nav-links a:link{
    outline: none;
}


.event-cards{
    margin-top: 40px;
    /* border: 1px solid white; */
    padding: 5px;
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.event-rules{
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0;
    width: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.9001);
    color: white;
    transition: all .5s ease;
}

.event-info{
    /* border: 1px solid black; */
    text-align: center;
    margin-top: 30px;
}

.event-info h2, h4{
    padding: 5px;
}

.event-rules h3{
    font-weight: 100;
    display: block;
    padding-top: 12px;
    text-align: center;
    font-size: .9em;
    font-family: "Poppins";
    width: 85%;
    margin: auto;
    letter-spacing: 2px;
    word-spacing: 2px;
    /* border: 1px solid white; */

}

.event-card{
    width: 300px;
    height: 390px;
    background-color: white;
    cursor: pointer;
    position: relative;
    transition: all .4s ease;
    margin: 10px;
    border-radius: 4px;
}

.event-card:hover .event-rules{
    opacity: 1;
    height: 100%;
}

.event-icon img{
    width: 300px;
}

.event-info h2, h4{
    font-family : "Poppins";
    font-weight: 100;
    color: rgb(43, 43, 43);
}

@media only screen and (max-width: 480px){
    .event-card{
        width: 270px;
        height: 380px;
    }
}